.info-block {
  display: flex;
  column-gap: 40px;
  align-items: center;

  @include vp--767 {
    flex-direction: column;
    row-gap: 20px;
  }

  &__img {
    width: 300px;
    height: 100%;
    min-height: 200px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 24px 0px 31px 0px rgba(243, 239, 245, 0.1);
    background-color: $text-color;

    @include vp--767 {
      width: 100%;
    }
  }

  &__text {
    color: #ffffff;
    max-width: 60%;
    margin: 0;
    color: $text-color;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;

    @include vp--767 {
      max-width: 100%;
    }
  }
}
