#root {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #262632;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}
