.info-section {
  padding: 0px 70px 50px;

  @include vp--1023 {
    padding: 0 40px 50px;
  }

  &__kind-of-work {
    margin: 30px 0;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  &__list {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 60px;
    list-style-type: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      height: 2px;
      background-color: $yellow-color;

      @include vp--767 {
        width: 100%;
      }
    }
  }

  &__item {
    @include vp--767 {
      width: 100%;
    }
  }
}
